/* Swiper'ın çevresindeki alan için ekstra padding */
.mySwiper {
  padding: 10px 0;
}

/* Mobil ve farklı ekran boyutlarında hizalamalar */
@media (max-width: 768px) {
  .swiper-slide > div {
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .swiper-slide > div {
    max-width: 280px;
  }
}
